@charset "utf-8";
/* CSS Document */

body
{
	background-color:#666;
	margin:0 auto;
	width:1000px;

}

.banner
{
	height:380px;
	background-color:#FF0;
	border-style:inset;
	text-align:center;
	font-family:"Franklin Gothic Heavy", Courier, monospace;
	font-size:24px;
	font:bold;
	color:#CF0;
	background:url(5H5hOGY.png) no-repeat;
}

.menu
{
	height:100px;
	background-color: #000;
	border-style:outset;
	text-align:center;
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	color:#000;
	border-radius:5px;
	box-shadow:red;
	

}

.layer
{
	height:900;
	background-color:#6CC;
	border-style:groove;
	text-align:center;
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	color:#000;
	background-image: url(cycling.JPG);
}

.footer
{
	height:90px;
	background-color: #666;
	border-style:ridge;
	text-align:center;
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	color:#000;
	
}

.header
{
	width:auto;
	height:100px;
	padding-top:20px;
}

.buttons
{
	text-align:center;
	width:auto;
	height:56px;
	padding-left:0px;
	padding:0px 0px 0px 0px;
	background:url("../Image/buttons.png") left top no-repeat;
}

.buttons a
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	font-weight:100;
	display:block;
	float:left;
	text-decoration:none;
	color:#903;
	text-align:center;
	padding-top:22px;
	height:34px;
	text-shadow:#333 2px 2px 4px;
}

.but
{
	width:160px;
}

a:hover
{
	color:#0F6;
	text-shadow:#333 1px 1px 1px;
	background:url("../Image/but_hover1.png") top repeat-x;
}