@charset "utf-8";
/* Shain Htet Ko Ko */
body
{
	background-color:#666;
	margin:0;
}
#changeheader
{
	height:120px;
	background-color:#FFF;

}
#menu
{
	height:60px;
	background-color:#0F9;
}
#content
{
	height:500px;
	background-color:#60C;
}
.footer
{
	height:30px;
	background-color:#090;
}
	
	
