body{
	background:#72C2E7;
	text-align:center;
}
h1{
	color:#FBF6FD;
	font-size:60px;
	text-shadow:#272229 2px 2px 4px;
}
h6{
	color:#FBF6FD;
	font-size:30px;
	text-shadow:#272229 2px 2px 4px;
}
#gallery{
	border: 10px solid #1D0C16;
	height:300px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	overflow:visible;
	background:#272229;
	
	-webkit-box-shadow: #272229 10px 10px 20px;
	-moz-box-shadow: #272229 10px 10px 20px;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#272229',Direction=135, Strength=10);
	
	box-shadow: #272229 10px 10px 20px;
}
#gallery ul{
		margin-left:-30px;
}
#gallery ul li{
	list-style:none;display:inline-table;padding:10px;
}
#gallery ul li.pic{
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	opacity:0;
	visibility:hidden;
	position:absolute;
	margin-top:10px;
	margin-left:-20px;
	border:1px solid black;
	-webkit-box-shadow:#272229 2px 2px 10px;
	-moz-box-shadow:#272229 2px 2px 10px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#272229',Direction=135, Strength=5);
	box-shadow:#272229 2px 2px 10px;
}
#gallery ul li.mini:hover{
	cursor:pointer;
}

#gallery ul li:hover.pic{
	width:200px;
	height:200px;
	opacity:1;
	visibility:visible;
	float:right;
}
	