*
{
	border: 0;
	margin: 0;
}
body{
	font: 12px"Lucida Grande","Lucida Sans Unicode";
	background-image:url(../Mobile%20Shop/style/images/body_bg.png);
	line-height:18px;
}
#bg_clouds
{
	background:#ddd url(Mobile%20Shop/style/images/bg.jpg) top center repeat-x;
}
#logo{
	padding:20px 0px 0px 18px;
	height:50px;
}
#logo h2{
	font-family:"Times New Roman",Times,serif;
	color:#FFFFFF;
	font-size:20px;
	text-shadow:#333 2px 2px 4px;
}
#main{
	width:1000px;
	height:100px;
	padding-top:30px;
}
#buttons{
	text-align:center;
	height:56px;
	padding-left:0px;
	background:url(Mobile%20Shop/style/images/buttons.png) left top no-repeat;
	padding:0px 0px 0px 100px;
}
#buttons a{
	font-family:"Lucida Grande","Lucida Sans Unicode",Helventica,Arial,Verdana,sans-serif;
	font-size:18px;
	font-weight:100;
	display:block;
	float:left;
	text-decoration:none;
	color:#ffffff;
	text-align:center;
	padding-top:22px;
	height:34px;
	text-shadow:#333 2px 2px 4px;
}
.but{
	width:160px;
}
#buttons.but:hover{
	background:url(../Mobile%20Shop/style/images/but_hover1.png) top repeat-x;
	color:#09F;
	text-shadow:#333 1px 1px 1px;
}
#page{
	width:900px;
	margin:0 auto;
	padding:20px;
	border:10px solid #FFF;
	-moz-border-rdius:30px;
	color:#000;
	box-shadow:0 0 10px #000;
}
#page h3
{
	font-family:"Lucida Grande","Lucida Sans Unicode";
	color:#0088CC;
	font-size:16px;
	text-shadow:#999 1px 1px 2px;
}
#page p{
	font:15px"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	color:#333333;
}
#page table
{
	background:url(../Mobile%20Shop/style/images/backgroundtexture.png);
}
#page td
{
	border-top:1.5px solid#CCC;
	padding:10px;
}
#footer
{
	width:1000px;
	height:30px;
	text-align:center;
	color:;
	margin:0 auto;
	border:thin;
	-moz-border-radius:10px;
	box-shadow:0 0 5px #06F;
}